
<div>
	<p>
		params: <%= params.inspect %></br>
		@scores: <%= @scores.inspect %></br>
		@session: <%= session[:user_id] %></br>
	</p>
	<p>
		<% if current_user %>
			Signed in as <%= current_user.first_name %> <%= current_user.last_name %> | <%= link_to "Logout", '/logout' %>
		<% else %>
			Not signed in!
			<%= link_to "Login", '\login' %> | <%= link_to "Signup", '/users' %> 
		<% end %>
	</p>
</div>

