<h1>Scores#index</h1>
<%= render 'monitor' %>

<p>
	<%= link_to 'add_score', new_score_path %><br>
	<%= link_to 'home', root_path %>
</p>


<table>
	<tr>
		<th>Name</th>
		<th>Course</th>
		<th>hole</th>
		<th>par</th>
		<th>score</th>
	</tr>
<% @scores.each do |s| %>
	<tr>
		<td><%= s.user.first_name %> <%= s.user.last_name %></td>
		<td><%= s.course.name %></td>
		<td><%= s.hole_number %></td>
		<td>#</td>
		<td><%= s.hole_score %></td>
		<td><%= link_to 'Edit', edit_score_path(s) %></td>

		
		<td><%= link_to 'Delete', score_path(s), method: :delete %></td>


		<td><%= s.inspect %></td>
	</tr>
<% end %>

</table>