<h1>Scores#index</h1>
<p>Find me in app/views/scores/index.html.erb</p>

<%= render 'monitor' %>

<p>
	<%= link_to 'add_score', new_score_path %>
	<%= link_to 'home', root_path %>
</p>


<table>
	<tr>
		<th>Name/Id</th>
		<th>Course/Id</th>
		<th>hole1</th>
		<th>hole2</th>
		<th>hole3</th>
	</tr>
<% @scores.each do |s| %>
	<tr>
		<td><%= s.golfer_id %></td>
		<td><%= s.course_id %>?</td>
		<td><%= s.hole1 %></td>
		<td><%= s.hole2 %></td>
		<td><%= s.hole3 %></td>
		<td><%= link_to 'Edit', edit_score_path(s) %></td>

		
		<td><%= link_to 'Delete', score_path(s), method: :delete %></td>


		<td><%= s.inspect %></td>
	</tr>
<% end %>

</table>