<!-- app/views/scores/new.html.erb -->
<h1> app/views/scores/new.html.erb </h1>
<%= render 'monitor' %>


<%# For now, lets use 2 forms. One course form, and one score form %>

<div>
	<%= form_with scope: "course", method: :GET do |c| %>
		<%= c.collection_select :id, Course.order(:name), :id, :name %>
		<%= c.submit "Choose Course" %>
	<% end %>
</div>

<br>
<br>

<div id="course-wrapper">
	<% if @course %>
		<%= render "form" %>
	<% end %>
</div>


